#settings {
    margin: 0;
}

#lbl-settings-first {
    font-size: 1.5em;
    font-weight: bold;
    color: #c8c8c8;
    margin: 25px 5px 5px 0;
}

#lbl-settings {
    font-size: 1.5em;
    font-weight: bold;
    color: #c8c8c8;
    margin: 5px 5px 5px 0px;
}

#input-directory {
    margin: 0 10px 0 4px;
}

#input-directory {
    background: #c8c8c8;
    border:2px solid #c8c8c8;
    color: #393E46;
    font-size: 1.7em;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px;
}

#input-directory:focus {
	outline: none;
	border: 2px solid #00adb5;
}

#button-directory {
    background: #393E46;
    border: 2px solid #393E46;
    color: #0f1113;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
}

#button-directory:pressed{
    margin: 1px;
}

#button-directory:hover {
    border:2px solid #00adb5;
    background-color: #494a4d;
    color: #3a8df8;
}

#button-directory:focus {
	outline: none;
}

#combo-beamline {
    background: #c8c8c8;
    border: 2px solid #c8c8c8;
    color: #0f1113;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 10px;
    margin-left: 4px;
}

#combo-beamline::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 0;

    background-color: transparent;
}

#combo-beamline QAbstractItemView {
    background-color: #c8c8c8;
    border: 2px solid #c8c8c8;
    color: #0f1113;

    outline: 0px;

    selection-background-color: #00adb5;
    selection-color: #0f1113;
}
